
out/
build/
bin/

.vs/
*.user
*.suo
*.vcxproj*
*.filters
*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
CMakeUserPresets.json


Debug/
Release/
x64/
x86/

.DS_Store
Thumbs.db

*.tmp
*.bak
*.swp

*.sav
*.state
